/* Resetting the browser default styles */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

li{
    list-style: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.heading{
    margin:10px 0;
}

/* Search box section */

.search-section{
    background-color: #6461a0;
    padding: 10px;
}

#search{
    width:100%;
    padding: 12px 20px;
    border: none;
}

.user-list-section{
    margin-top: 20px;
}

li{
    border: 1px solid #dddddd;
    margin-top: -1px;
    padding: 12px;
    background-color: #f6f6f6;
    font-size: 18px;
    text-transform: capitalize;
}

li:hover{
    background-color: #eeeeee;
}

/* Pill button for username */
.username{
    background-color: #6461a0;
    color: #ffffff;
    padding: 6px;
    font-size: 14px;
    border-radius: 5px;
}

/* Media query for large screens */

@media (min-width:1000px){
    body{
        width: 50%;
    }
    li{
        font-size: 14px;
    }
}
